.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.shopRow{
    margin-top: 10px;
    flex-direction: row;
}
.shopUpgrade{
    margin-left: 5px;
    background-color: #297003;
    border: 3px #262512 solid;
    font-family: DosisSemiBold;
    min-height: 80px;
    min-width: 360px;
}
.derivative{
    background-color: darkgoldenrod;
    border: 3px solid gray;
    margin-top: 10px;
    min-height: 25px;
    width: 290px;
    font-family: DosisSemiBold;
    height: 90px;
    text-align: left;
}
.upgrade{
    background-color: #b8730b;
    border: 3px solid gray;
    margin-top: 10px;
    min-height: 25px;
    width: 200px;
    font-family: DosisSemiBold;
    height: 60px;
}
.eDeriv{
    background-color: #8c0e8c;
    border: 3px solid #4b2351;
    margin-top: 10px;
    height: 90px;
    width: 350px;
    font-family: DosisSemiBold;
    text-align: left;
}
.navButton{
    margin-left: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
}