#bigDerivativeContainer{
    flex-direction: row;
    gap: 10px;
}
#derivativeContainer{
    margin-top: 5px;
    flex-direction: column;
}
#upgradeContainer{
    margin-top: 5px;
    flex-direction: column;
}
#exponentDerivContainer{
    margin-top: 10px;
    flex-direction: column;
}
#settingsContainer{
    margin-top: 20px;
    flex-direction: column;
}
#shopContainer{
    flex-direction: column;
}
#navBar{
    display: flex;
    margin-top: 15px;
}
#upgrade5{
    background-color: #b8730b;
    border: 3px solid gray;
    margin-top: 10px;
    min-height: 25px;
    width: 200px;
    font-family: DosisSemiBold;
    height: 100px;
}
#buymax{
    margin-top: 10px;
    background-color: darkgoldenrod;
    border: 3px solid gray;
    min-height: 20px;
    min-width: 100px;
    font-family: DosisBold;
}
#buymaxE{
    margin-top: 5px;
    background-color: #8c0e8c;
    border: 3px solid #4b2351;
    min-height: 20px;
    min-width: 100px;
    font-family: DosisBold;
}
#exponentNav{
    background-color: purple;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#derivNav{
    background-color: darkgoldenrod;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#mysteriesNav{
    background-color: #0b95b8;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#settingsNav{
    background-color: #535353;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#exponentReset{
    margin-top: 5px;
    background-color: purple;
    border: 3px solid #2b2b2b;
    font-family: DosisExtraBold;
    min-width: 400px;
    min-height: 75px;
}
#exponentEffectDisplay{
    color: purple;
    font-family: DosisSemiBold;
}
#shopTopText{
    margin-top: 5px;
    color: red;
}
#shopRow1Text{
    margin-top: 20px;
}