#bigDerivativeContainer{
    flex-direction: row;
    gap: 10px;
}
#derivativeContainer{
    margin-top: 5px;
    flex-direction: column;
}
#upgradeContainer{
    margin-top: 5px;
    flex-direction: column;
}
#theoriesContainer{
    margin-top: 10px;
    flex-direction: column;
}
#settingsContainer{
    margin-top: 20px;
    flex-direction: column;
}
#legendsContainer{
    margin-top: 10px;
    flex-direction: column;
}
#bigLostContainer{
    margin-top: 10px;
    flex-direction: column;
}
#lostContainer{
    margin-top: 3px;
    flex-direction: row;
}
#bigStairwayContainer{
    margin-top: 10px;
    flex-direction: column;
}
#stairwayNavContainer{
    margin-top: 20px;
    flex-direction: row;
}
#buymaxContainer{
    flex-direction: row;
}
#secretContainer{
    margin-top: 20px;
}
#navBar{
    display: flex;
    margin-top: 15px;
}
#upgrade5 {
    background-color: #b8730b;
    border: 3px solid gray;
    margin-top: 10px;
    min-height: 25px;
    width: 200px;
    font-family: DosisSemiBold;
    height: 100px;
}
#derivVButton{
    border-image: linear-gradient(45deg, rgb(0, 131, 143), rgb(179, 250, 66)) 1;
    color: #6ab75e;
    background-color: rgba(5, 86, 18, 0.15);
}
#derivV{
    color: #6ab75e;
}
#buymax{
    margin-top: 10px;
    background-color: darkgoldenrod;
    border: 3px solid gray;
    min-height: 20px;
    min-width: 100px;
    font-family: DosisBold;
}
#autoBuymax{
    margin-top: 10px;
    background-color: darkgoldenrod;
    border: 3px solid gray;
    min-height: 20px;
    min-width: 100px;
    font-family: DosisBold;
}
#upgradeBuymax{
    margin-top: 10px;
    background-color: #b8730b;
    border: 3px solid gray;
    min-height: 20px;
    min-width: 100px;
    font-family: DosisBold;
}
#lostAutoBuymax{
    color: #6ab75e;
    border: 3px solid #2b2b2b;
    background-color: rgba(5, 86, 18, 0.1);
    min-height: 20px;
    min-width: 100px;
    font-family: DosisBold;
}
#lostDeriv{
    border: 3px solid #2b2b2b;
    margin-top: 10px;
    height: 150px;
    width: 400px;
    font-family: DosisSemiBold;
}
#particleEffectsBox{
    border: 3px solid #2b2b2b;
    margin-top: 10px;
    min-height: 123px;
    min-width: 300px;
    font-family: DosisSemiBold;
}
#milestoneNav{
    background-color: #542780;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#derivNav{
    background-color: darkgoldenrod;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#lostNav{
    background-color: #006911;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
    font-size: 12.6px;
}
#stairNav{
    background-color: #d7c200;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
    font-size: 12.6px;
}
#mysteriesNav{
    background-color: #0b95b8;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#blackHoleNav{
    background-color: #550000;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#settingsNav{
    background-color: #535353;
    border: 3px solid #2b2b2b;
    font-family: DosisBold;
}
#exponentReset{
    margin-top: 5px;
    background-color: purple;
    border: 3px solid #2b2b2b;
    font-family: DosisExtraBold;
    min-width: 400px;
    min-height: 75px;
}
#theoriesText{
    margin-top: 20px;
    text-align: center;
}
#lostTopText{
    color: #d25b00;
    text-align: center;
}
#lostInDisplay{
    color: red;
}
#lostTitle{
    font-size: 15px;
    font-family: DosisBold;
}
#lostEffect{
    margin-bottom: 15px;
    color: #a1b73e;
}
#lostInfo{
    color: #00ca45;
}
#dreamParticleEffect{
    margin-top: 3px;
}
#stairwayTopText{
    color: #d2a500;
    text-align: center;
}
#stairwayTopText2{
    margin-top: 3px;
    color: #d28500;
    text-align: center;
}
#ticker {
    border: 2px solid whitesmoke;
    border-radius: 4px;
    padding: 2px;
    width: 45%;
    overflow:hidden;
    margin:auto;
    margin-top: 0.5vh;
    text-align: left;
}

#news {
    color:inherit;
    position: relative;
    display:inline-block;
    font-size:15px;
    font-family:DosisLight;
    white-space: nowrap;
}
#deepInversionActivate{
    margin-top: 10px;
    height: 85px;
    width: 330px;
    border-image: linear-gradient(45deg, rgba(14, 143, 0, 0.79), rgb(100, 250, 66)) 1;
    background-color: rgba(5, 86, 18, 0.15);
    color: #00b919;
    text-shadow: 1px 1px 10px rgba(108, 251, 60, 0.53);
    font-family: Dosis;
    font-size: 15px;
}
#inversionInversion{
    margin-top: 50px;
    height: 85px;
    min-width: 330px;
    background-color: rgba(5, 86, 18, 0.15);
    color: transparent;
    font-family: Dosis;
    font-size: 1em;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-background-size: 500%;
    animation: bgSwitch 5s linear infinite;
    transition: all 2s ease-in-out;
    transform: scale(1);
}
#inversionInversion:hover {
    transform: scale(2);
    box-shadow: 0 5px 15px rgba(92, 182, 128, 0.4);
    position: relative;
    z-index: 2;
}
#inversionInversionEffectText{
    margin-top: 20px;
    color: transparent;
    font-family: Dosis;
    font-size: 1em;
    text-align: center;
    background-image: linear-gradient(to left, #9fcc2e, #34dbdb, #b65988, #f33412);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-background-size: 500%;
    animation: bgSwitch 10s linear infinite;
    transition: all 2s ease-in-out;
    transform: scale(1);
}
#complexityPlaceholder{
    margin-top: 20px;
    color: transparent;
    font-family: Dosis;
    font-size: 1em;
    text-align: center;
    background-image: linear-gradient(to left, #cc2e9f, #db3466, #b65988, #f33412);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-background-size: 500%;
    animation: bgSwitch 10s linear infinite;
    transition: all 2s ease-in-out;
    transform: scale(1);
}
#complexityNav{
    border-image: linear-gradient(45deg, rgb(143, 0, 98), rgb(250, 66, 170)) 1;
    background-color: rgba(5, 86, 18, 0.15);
    color: #fb3c91;
    text-shadow: 1px 1px 10px #fb3c91, 1px 1px 10px #fb3c91;
}
#ourgwa{
    width: 99%;
    height: 99%;
    opacity: 20%;
    position: absolute;
    pointer-events: none;
}
#topLayer{
    width: 99%;
    height: 99%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#modalLayer{
    width: 99%;
    height: 99%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
#animationCanvas{
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}